# Patterns that are specific to a text editor, IDE, operating system, or user
# environment are not added here. They should be added to your local gitignore
# file instead:
# https://docs.github.com/en/get-started/git-basics/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

# Build subdirectories.
/*build*
!/build-aux
!/build_msvc

/wallet-app/.venv/
/explorer-app/.venv/
/explorer-app/explorer.log
/explorer-app/explorer.pid
/explorer-app/__pycache__/
/node-app/.venv/
/node-app/node.log
/node-app/node.pid
/data/
/ubuntu-app/.build/
/ubuntu-app/bin/
/ubuntu-app/lib/
/ubuntu-app/share/
/ubuntu-app/data

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

# cargo default target dir
target/

/guix-build-*

/ci/scratch/
