node1/blocks/
node1/chainstate/
node1/indexes/
node1/wallets/
node1/wallet_node1/
node1/debug.log
node1/stdout.log
node1/bitcoind.pid
node1/peers.dat
node1/mempool.dat
node1/fee_estimates.dat
node1/settings.json
node1/.lock
node1/anchors.dat
node2/blocks/
node2/chainstate/
node2/indexes/
node2/wallets/
node2/wallet_node2/
node2/debug.log
node2/stdout.log
node2/bitcoind.pid
node2/peers.dat
node2/mempool.dat
node2/fee_estimates.dat
node2/settings.json
node2/.lock
node2/anchors.dat
